#SearchBox{
    width: 96%;
    height: 50px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    color: #fff;
    display: flex;    
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px 2px #11111136 ;
    color: #111111b0;
    margin-bottom: 1vh;
    
    }
    
    
    #SearchBoxImg{
        height: 40px;
        width: 40px;
        position: absolute;
        right: 1%;
    }
    #searchInput{
        outline: none;
        border: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        border-radius: 10px;
        font-size: larger;
        transition-duration: 300ms;
        
    }
    
    #searchInput:focus{
        box-shadow: 0 2px 6px 4px #11111121;
        
    }
    
    
    
    
    /* From Uiverse.io by gharsh11032000 Dropdown */ 
    .menu {
    
         height: 100%;
        color: #000000;
        width: fit-content;
        display: flex;
        list-style: none;
        z-index: 10;
        position: absolute;
        left: 0%;
        font-size: larger;
        width: 200px;
        justify-content: center;
      }
      
      #custom-select {
        padding: 10px;
        border-radius: 8px;
        background-color: #fff;
        color: #333;
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('../../assets/Icons/arrowDown.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px;
        font-size: 16px;
        cursor: pointer;
        transition: border-color 0.3s;
        outline: none;
        border: none;
        text-align: center;
      
        &:focus {
          border: 1px solid #111;
          border-color: #111;
          outline: none;
          
        }
      }

      #custom-select:hover{
        background-image: url('../../assets/Icons/arrowUp.png');
      } 


      @media (max-width: 700px){
        .menu{
           width: 20%;
        }
        #custom-select {
          color: transparent;
          border: 1px solid #111;
          background-position: center;
         
        } 
        #custom-select option{
          color: #111;
        }
        
      
      }
/* 
      @media screen and (max-height: 900px){
        #SearchBox{
         
         
          margin-bottom: 3%;
      
          
       
          }
      } */

     
      