.loaderBox{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 

}


.loader {
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#fff 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#fff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }



