.loaderBox{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 

}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-size: 100px;
    line-height: 1.5;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #fff;
    background:
      radial-gradient(1.13em at 50% 1.6em,#fff 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
      radial-gradient(1.13em at 50% -0.8em,#0000 99%,#fff 101%) 50% .8em/3.2em 100% repeat-x  text;
    animation: l9 2s linear infinite;
  }
  .loader:before {
    content: "Loading...";
  }
  @keyframes l9 {
    to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
  }





  @media (max-width: 600px) { 
   
    .loader{
      font-size: 40px;
    }

  }