#HistoryBox{
    height: 65vh;
    width: 96%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    color: #000;
    overflow: auto;
    box-shadow: 0 2px 6px 2px #11111136;
    font-size: 16px;
    
  }
  table {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse; /* Entfernt die Leerzeichen zwischen den Spalten */
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    
    height: 60px;
    max-height: 60px;
    max-width: 100px;
    overflow: hidden;
    
  }
  th{
    border-bottom: 1px solid #fff;
    position: sticky;
    font-size: 18px;
  
  }

  thead th {
    position: sticky;
    top: 0;
    background: #e60000; /* Hintergrundfarbe wichtig! */
    z-index: 1; /* optional, für Überlagerung */
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap; /* Verhindert Zeilenumbrüche in Zellen */
    }
  
    th, td {
      padding: 6px;
      font-size: 14px;
      
    }
  }


  #extendBtn{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #7e7e7e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 300ms;
    margin: 0 auto;
    box-shadow: 0px 0px 6px 2px #11111136;
}

#extendBtn:hover{
   transform: scale(1.1);
}


#extendBtn img{
    height: 30px;
}




::-webkit-scrollbar {
  background-color: #e60000;
  width: 20px;
  border-radius: 0 4px 4px 0;
 
}
::-webkit-scrollbar-track {
 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
